body{
font-family: cursive;
font-style: unset;
color: purple;
background-color: thistle;
}

.c{
border: solid;
border-color: cyan; 
border-width: 8px;
}

.d{
border: solid;
border-color: paleturquoise; 
border-width: 8px;    
}

.p{
    border: solid;
    border-color:mediumslateblue; 
    border-width: 8px;
}